* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: black;
}
h2[id="name"]::after {
  content: "|";
  animation: blink 1s steps(5, start) infinite;
  margin-left: 0;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
h2 {
  position: absolute;
  top: 40%;
  width: 100%;
  font-family: "Dancing Script", cursive;
  font-size: 4em;
  text-align: center;
  transform: translate;
  color: #fff;
}

/*About Me, Skills, Social*/
img {
  vertical-align: middle;
  border-style: none;
  display: inline;
}
.icon {
  display: inline;

  border-style: dashed;
  border-width: 1px;
  float: left;
}

.profile-image {
  position: relative;
  margin-bottom: 50px;
  width: 50%;
  margin-left: 30px;
  float: inline-start;
  margin-right: 30px;
  border-radius: 50%;

  background: #080808;
  box-shadow: 5px 5px 10px #030303, -5px -5px 10px #0d0d0d;
  border: white 4px solid;
  animation: darkmode 1.5s forwards;
}

.top {
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
  background: radial-gradient(#333, #000);
  display: flex;
}

.container {
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 40px 0;
}
.container .card {
  position: relative;
  min-width: 320px;
  height: 480px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 3),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
}

.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: black;
  border: 2px solid #1e1f23;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container .card .box:hover {
  transform: translateY(-50px);
  box-shadow: 0 40px 70px #27282e;
}
.container .card .box .content {
  padding: 20px;
  text-align: center;
  width: 100%;
}

.container .card .box .content h3 {
  position: absolute;
  top: 5px;
  right: 65px;
  font-size: 30px;
  color: white;
}

.container .card .box .content .Skill {
  position: absolute;
  top: 5px;

  font-size: 2em;
  color: white;
}
.container .card .box .content .Social {
  position: absolute;
  top: 5px;

  font-size: 2em;
  color: white;
}

.container .card .box .content p {
  position: relative;

  font-size: 16px;
  font-weight: 300;
  color: white;
  z-index: 1;
  transition: 0.5%;
}
.container .card .box .content .Social .title {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 30px;
  color: white;
}
.container .card .box .content .Skill .title {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 30px;
  color: white;
}
.container .card .box .content .About .title {
  position: relative;
  text-align: center;
  margin-left: 30px;
  width: 100%;
  font-size: 30px;
  color: white;
}
.container .card .box .content .Social .title img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.container .card .box .content .Skill .title img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.container .card .box .content .About .title img {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}

.flex-icon {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.flex-icon1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.flex-icon1 img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.flex-icon .icon img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.container .card .box .content .contact-form-btn {
  margin-top: 10px;
  position: relative;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
  float: inherit;
  background: #008e89;
}
.container .card .box .content .contact-form-btn:hover {
  background: #3e69c3;
}

/*Projects*/
.title {
  width: 100%;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}
.containers .title h3 {
  display: inline;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  transform: translate;
  color: white;
  font-family: "Dancing Script", cursive;
}
.project-name {
  color: white;
}
.tindog {
  width: 700px;
  height: 750px;
  object-fit: contain;
}
.simon-game,
.RCG,
.todo,
.news {
  width: 800px;
  height: 800px;
  object-fit: contain;
}
.tindog:hover,
.simon-game:hover,
.RCG:hover,
.todo:hover,
.news:hover {
  filter: blur(3px);
}
.icon-name {
  color: white;
}

.visitbtn,
.visitbtn1,
.visitbtn2,
.visitbtn3,
.visitbtn4 {
  display: none;
  left: 40%;
  position: absolute;
  width: 100px;
  font-size: 1.5rem;
  padding: 10px;
  height: 40px;
  bottom: 45%;
  z-index: 999;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  background-color: black;
  border: 3px solid #fff;

  border-radius: 0.5rem;
}
.visitbtn:hover {
  background: #ff4c68;
}
.visitbtn1:hover {
  background: #011f3f;
}
.visitbtn2:hover {
  background: rgb(60, 236, 195);
}
.visitbtn3:hover {
  background: #fdcb6e;
}
.visitbtn4:hover {
  background: #9242a6;
}

.top {
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
  background: radial-gradient(#333, #000);
}

.containers {
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 40px 0;
}
.containers .cards {
  position: relative;
  margin-right: auto;
  min-width: 550px;
  height: 450px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 3),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
}

.containers .cards .boxs {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: black;
  border: 2px solid #1e1f23;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.containers .cards .boxs:hover {
  transform: translateY(-50px);
  box-shadow: 0 40px 70px #27282e;
}
.containers .cards .boxs .contents .visitcard .tindog:hover {
  opacity: 0.3;
}
.containers .cards .boxs .contents .visitcard .simon-game:hover {
  opacity: 0.3;
}
.containers .cards .boxs .contents .visitcard .RCG:hover {
  opacity: 0.3;
}
.containers .cards .boxs .contents .visitcard .todo:hover {
  opacity: 0.3;
}
.containers .cards .boxs .contents .visitcard .news:hover {
  opacity: 0.3;
}
.containers .cards .boxs .contents {
  position: relative;
  padding: 20px;
  text-align: center;
}

.containers .cards .boxs.contents h3 {
  position: absolute;
  top: 5px;
  right: 75px;
  font-size: 2em;
  color: white;
}
.containers .cards .boxs .contents .Skill {
  top: 5px;
  right: 100px;
  font-size: 2em;
  color: white;
}
.containers .cards .boxs .contents .Social {
  top: 5px;
  right: 100px;
  font-size: 2em;
  color: white;
}

.containers .cards .boxs .contents p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: 0.5%;
}

/*Contact Me*/
.contact-section .title h3 {
  display: inline;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  transform: translate;
  color: white;
  font-family: "Dancing Script", cursive;
}

.contact-section {
  background: black;
  background-size: cover;
  padding: 40px 0;
}
.contact-form {
  min-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}
.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: white;
  color: white;
  transition: 0.5s;
}
.contact-form-text:hover {
  box-shadow: 0 0 10px 4px #34495e;
}
textarea .contact-form-text {
  resize: none;
  height: 120px;
}
.contact-form-btn {
  float: right;
  border: #65c18c;
  cursor: pointer;
  text-align: center;
  outline: none;

  padding: 12px 50px;
  background: #3e69c3;
  border: none;
  color: white;
  border-radius: 20px;
  transition: 1s;
}
.contact-form-btn:hover {
  background: #65c18c;
}
